@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #181818;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo {
    width: 100px;
    height: 50px;
    grid-column: 2/3;
    margin-top: 30px;
}

.navbar .logomobile {
    display: none;
}

.navbar .menu {
    grid-column: 5/8;
    display: flex;
    justify-content: space-around;
}

.navbar .menu li {
    list-style: none;
    margin-top: 30px;
}

.navbar .menu li:hover {
    transform: scale(1.1);
}

.navbar .menu a {
    text-decoration: none;
    color: #181818;
    cursor: pointer;
}

.navbar .menu a:hover {
    color: #a460f9;
}

.navbar .menu-bar {
    display: none;
}







